.stdsContainer {
  min-height: 100vh;
  background: #f0f4f8;
  padding: 20px;
}

.stdsNavbar {
  background: #1e3c72;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.stdsNavButtons button {
  margin-left: 10px;
  padding: 8px 12px;
  cursor: pointer;
}

.stdsCard {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.stdsOdItem {
  background: #eef3ff;
  padding: 10px;
  margin-top: 10px;
}
/* Staff */



.stafContainer {
  min-height: 100vh;
  background: #f4f6fa;
  padding: 20px;
}

.stafNavbar {
  background: #003366;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.stafNavButtons button {
  margin-left: 10px;
  padding: 8px 14px;
  cursor: pointer;
}

.stafCard {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.stafStdCard {
  background: #e6f0ff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}


/* HOD */
.hodContainer {
  min-height: 100vh;
  background: #f5f7fb;
  padding: 20px;
}

.hodNavbar {
  background: #002244;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.hodCard {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.hodStdCard {
  background: #eef3ff;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
}
